<!-- The link is needed, because angular-maps doesn't support angular-fontawesome :/-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i class="fa"></i>
<div style="height: 600px"> <!-- REMOVE THIS-->
    <x-map [Options]="_options" [Latitude]="11.5" [Longitude]="38.05" [Zoom]="1.5">
        <x-cluster-layer 
            [GridSize]="150"
            [ClusteringEnabled]="true"
            [UseDynamicSizeMarkers]="true"
            [DynamicMarkerBaseSize]="18"
            [DynamicMarkerRanges]="clusterColors"
            >
            <ng-container *ngFor="let m of markers" >
                <x-map-marker *ngIf="displayableUniversities.includes(m.id) || filterIsActive == false"
                    [Latitude]="m.lat" [Longitude]="m.lng"
                    [Title]="m.name"
                    [IconInfo]="iconInfo"
                    (MarkerClick)="toggleDetails(m.id)">
                </x-map-marker>
            </ng-container>
        </x-cluster-layer>
        
    </x-map>
</div>